<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}" lang="fr">
<body>
<!-- BODY -->
<div layout:fragment="content" class=" offset-2 col-10">
    <h1 class="h1 py-3"> Home page <span th:remove="tag" sec:authentication="name">thymeleaf</span> </h1>
    <span th:text="${message}"></span>
    <form th:action="@{/logout}" method="post" class="py-4">
        <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
</div>
<!-- -->
</body>
</html>
